@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

<!-- Want To Work Start -->
<div class="wantToWork-area w-padding">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-xl-7 col-lg-9 col-md-8">
                <div class="wantToWork-caption">
                    <h2>Get Your Excel Template</h2>
                    <p>Use This Template For Import Product To CRM</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Want To Work End -->
<!-- Legal Practice Area start -->
<div class="legal-practice-area section-padding30">
    <div class="container-fluid px-4">
        <!--Section Tittle  -->
        <div class="row ">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-70">
                    <h2>Invoice Form</h2>
                </div>
            </div>
        </div>
       
    </div>

</div>
<!-- Legal Practice Area End-->